//@extend class
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

// 最底三層
html{
    // 下面兩項參數是為了 在全版頁面的設計下
    // 手機瀏覽器可以正確排除工具列的高度p
    // 後來出現了統一標準 dvh 只剩firefix 不支援
    position: fixed;
    @include setSize(100%, 100%);
    overflow: -moz-scrollbars-vertical;

    font-size: 16px;
    @include setRWD(1200px) {
        font-size: 14px;
    }

    @include setRWD(600px) {
        font-size: 12px;
    }
}
body{
    background: var(--color-view-block);
    width: 100%;
    @extend %baseFont;
    visibility: visible;

    &.fixed{ overflow: hidden; }
}

// 表單相關
form{
    font-size: 1rem;
    }
    label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    input {
        // [#]自動填入  input底色修正
        background-clip: text !important;
        -webkit-background-clip: text !important;

        // [-]Edge 的眼睛icon
        &[type='password'] {
            ::-ms-reveal { display: none; }
        }

        // [-] hide number input arrow
        /* Firefox */
        &[type=number] { -moz-appearance: textfield; }
        /* Chrome, Safari, Edge, Opera */
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    select{
        // @extend input[type='radio'];
        /*移除箭頭樣式*/
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /*IE隱藏箭頭樣式*/
        &::-ms-expand { display: none;}

        /*改變右邊箭頭樣式*/
        // background: #fff url("../images/selectArrow.png")no-repeat calc(100% - 15px) center;

        @include setSize(100%, 34px);
        padding: 2px;
        padding-right:40px;
        border: 0px;
        margin: 0;
        outline: none;
        font-size: 1rem;
        color: #333;

        /* 卷軸設定 */
        &::-webkit-scrollbar {
            background: #eee;
            width: 4px;
            border-radius: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-primary)
        }
    }
    textarea{
        padding: 5px;
        border: 1px solid rgba(216, 216, 216, .8);
        box-sizing: border-box;
        resize: none;
        font-size: 1rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    @extend %baseFont;
}

//other
.red{ color: var(--color-error); fill: var(--color-error); }
.space{ display: inline-block; width: 7px; }
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.hidden{ display: none; }
